.IDCamera-Container{
    z-index: 1;
    position: absolute;    
}
.IDCamera-Container .PreviewImage{
    width: 100%;
}
.IDMessage-Container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.IDMessage-Container .IDTitle{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
.IDMessage-Container .IDDocCamMeassage{
    color: white;
    text-align: center;
    overflow-wrap: break-word;
    width: 96%;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.IDCapture-Container{
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    background: #7f00ff;
    justify-content: flex-end;
}
.IDCapture-Container .IDCaptureButton{
    width: 60px;
    height: 60px;  
}
.IDCapture-Container p{
    color: white;
    margin-bottom: 5px;
    font-style: italic;
}
.errorMessageView { 
    padding-left: 16px;
    padding-right: 16px; 
    margin-top: 10px;
}

.errorMessageView .container {
    border: 1px solid yellow;
    border-radius: 5px;
}

.errorMessageView .errortitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
    color: white;
    height: 30px;
}

.errorMessageView .errortitle img {
    width: 16px;
}
.errorMessageView .errortitle p {
    margin-left: 10px;
    font-size: 16px;
}
.errorMessageView .container .errormessage p{
    color: white;
    margin-top: 0px;
    margin-left: 16px;
    font-size: 14px;
}
.ButtonPreview{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
    position: absolute;
    z-index: 2;
    background: #7f00ff;

}