.result-container {
    text-align: center;
    color: #000;
    background: #fff;
}

.resultMark {
    width: 100px;
    height: 100px;
    margin-top: 180px;
}

.txtLivnessResult {
    font-size: 20px;
    font-weight: bold;
}

.socre-container {
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    text-align: center;

}

.back-group {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    /* height: calc(100vh - 50px); */
    /* background: #7f00ff; */
    align-items: center;
    justify-content: center;
}