.POACamera-Container{
    z-index: 0;
}
.POAMain-container{
    position: absolute;
    z-index: 40;
    width: 100%;
    top: 0px;
}
.POAPreviewImage-container{
    position: absolute;
    z-index: 30;
    width: 100%;
    top: 0px;
}
.POATakeButtonView{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
}
.POAPreviewButtonView{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.POAMessageView{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.POAMessageView p{
    color: white;
    padding-left: 5px;
    font-size: 16px;
}
.POAMessageView .errorIcon{
    width: 20px;
    height: 20px;
}

.POACamErrorMessageView { 
    width: 100%;
    padding-left: 16px;
    padding-right: 16px; 
}

.POACamErrorMessageView .container {
    border-radius: 5px;
    
}

.POACamErrorMessageView .errortitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
    color: white;
    height: 30px;
}

.POACamErrorMessageView .container .errortitle img {
    width: 16px;
}
.POACamErrorMessageView .errortitle p {
    margin-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: #fff;
}
.POACamErrorMessageView .container .errormessage p{
    color: #fff;
    margin-top: 0px;
    margin-left: 16px;
    font-size: 14px;
}
.POACam_PreviewView{
    width: 100%;
    position: absolute;
    top:0px;
    z-index: 100;
}
.POAPreviewImg{
    width: 95%;
}
.POACAm_BottomTitle{
    position: absolute;
    bottom: 20px;
}
.POACropView{
    position: absolute;
    z-index: -10;
    top: 0px;
}
.POACam_loaderView{
    width: 100%;
    background: white;
    z-index: 60;
    top: 0px;
    position: absolute;
}
.POACam_loaderView .loader{
    justify-content: center;
    display: flex;

}
.loader_divice{
    margin-top: 315.6px;
    z-index: 1000;
    position: absolute;
    top: 0px;
    width: 100%;
    justify-content: center;
    display: flex;
}