.poaHelp_Container{
    width: 100%;
}
.poaHelp_Container .buttonView{
    position: absolute;
    width: 100%;
    bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.poaHelp_Container .footerTitle{
    font-style: italic;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.poaHelp_Container .main_Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.poaHelp_Container .main_Container p{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
}
.poaHelp_Container .poaHelp_message{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    padding-top: 30px;
}
.poaHelp_Container .poaHelp_message p{
    font-size: 16px;
    padding-left: 10px;
}