.bottomButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60%;
    background: white;
    color: #7f00ff;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
}

.imgIcon {
    display: flex;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.black {
    background: #CCCCCC;
    color: #000;
}