.LivenessCamera-Container{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.frame-view{
    z-index: 3;
    position: absolute;
    width: 100%;
}
.message-container{
    z-index: 4;
    position: absolute;
    width: 95%;
    justify-content: center;
}
.liveness-captureButton{
    position: absolute;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    display: flex;    
    flex-direction: column;
    align-items: center;
    background: #7f00ff;
    
}
.loadingView{
    position: absolute;
    z-index: 30;
    width: 100%;
    text-align: center;
}
.LivenessTopBar{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #7f00ff;
}