.LivenessCamera-Container{
    position: absolute;
    width: 100%;
    margin-top: 10px;
    z-index: 1;
}
.frame-view{
    z-index: 3;
    position: absolute;
    width: 100%;
}
.message-container{
    z-index: 4;
    position: absolute;
    width: 95%;
    justify-content: center;
}
.liveness-captureButton{
    bottom: 0px;
    width: 100%;
    justify-content: center;
    display: flex;    
    flex-direction: column;
    align-items: center;
    background: #fff;
    position: relative;    
}
.loadingView{
    position: absolute;
    z-index: 30;
    width: 100%;
    text-align: center;
}
.LivenessTopBar{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
}
.liveness_txtTitle{
    text-align: center;
    margin-left: -10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
}
.photoLivenessbtnBack{
    display: flex;
    margin-left: 10px;
    width: 18px;
    height: 18px;
}
