.camera-container{
    z-index: 1;
    position: absolute;
}
.preview-container{
    z-index: 2;
    position: absolute;
    width: 100%;
}
.frame-container{
    z-index: 3;
    position: absolute;
    width: 100%;
}
.message-container{
    z-index: 4;
    position: absolute;
    width: 95%;
    /* display:flex; */
    justify-content: center;
    flex-direction: column;
}
.captureButton{
    position: absolute;
    z-index: 5;
    width: 100%;
    justify-content: center;
    display: flex;
    bottom: 50px;
    
}
.preview-button-container{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
    position: absolute;
    z-index: 6;
}

.bottomButton {
    position: absolute;
    bottom: 10px;
}
.top-container{
    position: absolute;
    display: flex;
    z-index: 8;
    width: 100%;
    align-items: center;
}
.captureIcon{
    width: 60px;
    height: 60px;
}
.message{
    color: white;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
}


.errorMessage {
    position: absolute;
    z-index: 1000;    
    padding-left: 16px;
    padding-right: 16px;        
    width: 93%;
}

.errorMessage .container {
    border: 1px solid yellow;
    border-radius: 5px;
}

.errorMessage .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
    color: white;
    height: 30px;
}

.errorMessage .title img {
    width: 16px;
}
.errorMessage .title p {
    margin-left: 10px;
    font-size: 18px;
}

.errorMessage .message {
    color: white;
    margin: 0px;
    font-size: 14px;
    width: 100%;
    padding-left: 16px;
    text-align: left;
    word-wrap: break-word;
}

.errorMessage .message p {
    margin: 8px;
}
