.result-body-container{
    width: 100%;
    height: calc(100vh - 50px);
    align-items: center;
    flex-direction: column;
    display: flex;
    background: #fff;
}
.resultMark{
    width: 85px;
    height: 85px;
    margin-top: 180px;
}
.txtLivnessResult{
    font-size: 23px;
    font-weight: bold;
    margin-top: 50px;
}
.txtErrorMessage{
    font-size: 18px;
    margin-top: 0px;
    text-align: center;
}
.spoof-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spoofMark{
    width: 20px;
    height: 20px;
    margin-right: 40px;
}