.body-container {
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
}

.logoView {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

}

.logoIcon {
    width: 40%;
    height: 50px;
}

.header .companyName {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.companyDesc {
    text-align: center;
    font-size: 16px;
    color: #7f00ff;
}

.content {
    margin-bottom: 20px;
}

.content p{
    margin: 5px;
    line-height: 1.2em;
}

.content .info .heading {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    
}

.content .info .desc {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.4;
    padding-top: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.personal_data_list .personal_data {
    margin-left: 15px;
    padding-top: 15px;
}

.personal_data .title_panel {
    display: flex;
    justify-content: flex-start;
}

.personal_data .title_panel .number {
    border: 2px solid white;
    background-color:white;  
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal_data .title_panel .title p {
    font-size: 15px;
    padding-right: 15px;
}

.personal_data .title_panel .title span {
    font-size: 14px;
    font-weight: 300;
}

.personal_data .data ul {
    margin: 4px;
}

.termsOfService {
    padding: 0px 8px;
    font-size: 15px;
    margin-top: 8px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
}
li{
    color: #7f00ff;
}

.termsOfService a {
    font-weight: bold;
}
.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.languageView{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.languageView:active{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-color: #7f00ff;
}
.languageArrayText{
    height: 60px;
    align-items: center;
    display: flex;
    font-size: 16px;
    padding-left: 15px;
    font-weight: bold;
}
.languageArrayText p{
    margin-bottom: 0px;
}
.languageArrayText img{
     width: 16px;
     height: 16px;
     position: absolute;
     right: 10px;
}
.languageInclude:active{
    background-color: #7f00ff;
}
.languageInclude{
    display: flex;
    align-items: center;
    /* border-bottom: solid 1px;
    border-color:rgb(128, 128, 128); */
}
.languagebtnBack{
    display: flex;
    margin-left: 10px;
    width: 11px;
    height: 13x;

}