/* body {
  overflow: hidden;
  background-color: #7f00ff;
} */

#canvas {
  display: none;
}



.margin-t {
  margin-top: 30px;
}

video {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.parent {
  position: relative;
  overflow-y: hidden;
}

Webcam {
  position: absolute;
}

.control {
  position: absolute;
  display: block;
  width: 50%;
  margin: auto;
  bottom: 50px;
}
input{
  height: 30px;
}
span{
  color: white;
}