/* body {
  overflow: hidden;
  background-color: #7f00ff;
} */

#canvas {
  display: none;
}

/* .App {
  max-width: 500px;
  max-height: 900px;
  background-color: white;
} */

.margin-t {
  margin-top: 30px;
}

video {
  width: 100%;
}

.parent {
  position: relative;
  overflow-y: hidden;
}

Webcam {
  position: absolute;
}

.control {
  position: absolute;
  display: block;
  width: 50%;
  margin: auto;
  bottom: 50px;
}
input{
  height: 30px;
}
video{
  width: 100%;
}

/* #root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
} */