.POAPreviewButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60%;
    background: #7f00ff;
    color: white;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    border-radius: 10px;
}